[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm/llvm-project/
[submodule "docs/highlight"]
	path = docs/highlight
	url = git@github.com:Sirraide/ltx-highlight-code
[submodule "libs/cpptrace"]
	path = libs/cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace
[submodule "fchk"]
	path = fchk
	url = git@github.com:Sirraide/fchk.git
